<div>
  <h1>heading text</h1>
    <div>
      <li>The buy button</li>
      <li>That darned lite plan and light and Light plan</li>
      <li>The dropdown menu and the Drop down menu</li>
     <p>
     The Shopify Plus client.
     </p>
     <p>
     The Template
     The Payment Gateway
     </p>
     <p>The Variant Image
     The web site
     the url
     </p>
      </div>
    </div>
