<div>
  <h1>heading text</h1>
    <div>
      <li>Buy with the buy button</li>
      <li>The dropdown menu or the Drop down menu?</li>
     <p>
     The Shopify Plus client is uncomfortable.
     </p>
     <p>
     The Template is designed with Liquid.
     The Payment Gateway is PayPal.
     </p>
     <p>The Variant Image is deviant.
     The web site is a sight for sore eyes.
     the url is too long.
     </p>
      </div>
    </div>
